---
import Proyect from "./Proyect.astro";
import { getI18N } from "../../../i18n";

const { currentLocale } = Astro;

const lang: string = currentLocale!;
const i18n = getI18N(lang)!;
---

<section class="px-6 pt-4 lg:px-8 lg:pt-6">
  <!-- el h-10 es igual al de la foto para que quede centrado pixel perfect -->
  <h3 class="font-semibold text-lg mb-4 flex items-center lg:h-10 lg:mb-3">
    {i18n?.text.HOME_PROYECTS_H3}
  </h3>
  <div class="group/opacity px-1 md:px-2">
    {
      i18n.proyects.map(
        ({ title, year, desc, href, src, srcMobile, alt, hash, css }) => (
          <Proyect
            title={title}
            year={year}
            desc={desc}
            href={href}
            src={src}
            srcMobile={srcMobile}
            alt={alt}
            hash={hash}
            css={css}
          />
        )
      )
    }
  </div>
</section>
