---
import ProyectContent from "./ProyectContent.astro";

const { title, year, desc, href, src, srcMobile, alt, hash, css } = Astro.props;
---

<article
  class="mb-8 last:mb-0 lg:transition-opacity lg:hover:!opacity-100 lg:group-hover/opacity:opacity-30"
>
  <h4 class="mb-2">
    {title}
    {
      href ? (
        <span class="text-neutral-400 text-sm dark:text-neutral-500">
          - {year}
        </span>
      ) : (
        <span class="text-neutral-400 text-sm dark:text-neutral-500">
          - {year}
          <span class="text-xs text-neutral-700 text-ellipsis">(offline)</span>
        </span>
      )
    }
  </h4>
  <ProyectContent
    desc={desc}
    href={href}
    src={src}
    srcMobile={srcMobile}
    alt={alt}
    hash={hash}
    css={css}
  />
</article>
